@import "tailwindcss";

/*FUENTES*/
@font-face {
  font-family: "TrebuchetMS";
  src: url("fonts/TrebuchetMS.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("fonts/BebasNeue.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "WebSymbolsRegular";
  src: url("fonts/websymbols-regular-webfont.eot");
  src:
    url("fonts/websymbols-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/websymbols-regular-webfont.woff") format("woff"),
    url("fonts/websymbols-regular-webfont.ttf") format("truetype"),
    url("fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.symbol {
  font-family: "WebSymbolsRegular";
}

.bebas {
  font-family: "BebasNeue";
}

.trebuchet {
  font-family: "TrebuchetMS";
}

/* THEME */
@theme {
  /* Configuración de los colores. Tailwind v4 genera automáticamente todas las utilidades asociadas: bg-azul-claro, text-azul-claro, border-azul-claro, etc. */
  --color-azul-claro: #37bcf9;
  --color-azul-oscuro: #0370b9;
  --text-shadow-banner: 2px 2px 1px black;

  /* Configuración de los breakpoints. */
   --breakpoint-xs: 20rem;

  /* Configuración de la imagen de fondo. Tailwind creará automáticamente la clase utilidad bg-body-pattern y bg-banner */
  --background-image-body-pattern: url("../img/pattern.png");
  --background-image-banner: url("../img/bakbaner.png");
  
  /** Configuración de la posición de la imagen de fondo. Tailwind creará automáticamente la clase utilidad bg-banner-position */
  --background-position-banner: "-200px -200px";

  /* Configuración de animaciones. Tailwind v4 creará automáticamente la clase de utilidad animate-spin-low, animate-bg-banner ... */
  --animate-spin-low: spin 2s linear infinite;
  --animate-from-bellow: fromBellow 500ms linear;
  --animate-from-right: fromRight 300ms linear;
  --animate-bg-banner: backBanner 10s linear;
  --animate-show-banner-text: showBannerText 10s linear;
  --animate-show-card-icon: showCardIcon 300ms linear;
  --animate-show-card-category: showCardCategory 400ms linear;
  --animate-show-card-description: showCardDescription 400ms linear;

  /* Sombras personalizadas*/
  --shadow-header3D: 0px 1px 0px #393d3f, 1px 2px 0px #393d3f, 2px 3px 0px #393d3f, 3px 4px 0px #393d3f;
  --shadow-box: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.3), 0px 1px white inset, 0px -3px 1px rgba(0, 0, 0, 0.3) inset;

  /* 2. Definimos los keyframes usando la sintaxis estándar de CSS */
  @keyframes fromBellow {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes fromRight {
    0% {
      transform: translateX(200%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes backBanner {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200px -200px;
    }
  }

  @keyframes showBannerText {
    0% {
      transform: translateX(-600%) scale(5,5);
      opacity: 1;
    }
    50% {
      transform: translateX(600%) scale(5,5);
      opacity: 1;
    }
    75% {
      transform: translateX(-600%) scale(5,5);
      text-shadow: none;
      color: transparent;
      opacity: 0;
    }
    100% {
      transform: translateX(0%) scale(1,1);
      text-shadow: 2px 2px 1px black;
      color: white;
      opacity: 1;
    }
  }

  @keyframes showCardIcon {
    0% {
      transform: translateY(-200%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes showCardCategory {
    0% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes showCardDescription {
    0% {
      transform: translateX(-300%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

/* COMPONENTS */
@utility menu-item {
  @apply flex-none xs:flex-1 ml-5 mr-5 tracking-wider;
  a {
    @apply block transition duration-200 hover:text-azul-claro transform hover:scale-125;
  }
}

@utility card {
  @apply flex-1 border-2 border-gray-200 shadow-md bg-white overflow-hidden pl-5 pr-5 cursor-pointer duration-300 hover:bg-black
  h-40 lg:h-80 m-2 lg:m-5 mt-10;
}

@utility card-icon {
  font-family: "WebSymbolsRegular";
  @apply group-hover:text-4xl lg:group-hover:text-7xl group-hover:animate-show-card-icon group-hover:text-azul-claro block w-full h-20 lg:h-32 text-3xl lg:text-5xl text-center mt-3 lg:mt-5 lg:mt-12 m-auto pt-5 transition duration-300;
}

@utility card-category {
  @apply group-hover:text-white group-hover:animate-show-card-category font-bold text-xl text-center text-azul-oscuro transition duration-300
    block text-xs md:text-base lg:text-lg h-6 lg:h-12;
}

@utility card-description {
  font-family: "TrebuchetMS";
  @apply group-hover:text-white group-hover:animate-show-card-description text-base text-center text-azul-oscuro transition duration-300
    hidden lg:block lg:text-lg lg:mt-1.5;
}

@utility articles-header {
  font-family: "BebasNeue";
  background: url("/img/pxgray.png"), white;
  @apply block w-full h-20 text-center text-2xl lg:text-4xl font-medium tracking-widest pt-4 lg:pt-5 border shadow-header3D ;
}

@utility article-item {
  @apply w-full h-auto border border-gray-200 m-10 mx-auto p-2.5 bg-white text-black shadow-md;
}

@utility article-data {
  @apply lg:float-right bg-gray-800 text-white leading-6 p-2 -mt-2.5 -mr-2.5 text-sm rounded-bl-lg;
  span {
    @apply m-2.5;
  }
}

@utility article-head {
  @apply block text-2xl m-1;
  a {
    @apply font-semibold text-azul-oscuro hover:underline;
  }
}

@utility article-description {
  @apply block mt-3 mb-3 text-base font-sans font-normal;
}
